body, html {
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

.headers {
  background: #1a6c67; /* Dark blue for a professional look */
  color: white;
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  width: 100px;
  height: auto;
}

.headers nav {
  display: flex;
  align-items: center;
}

.headers nav a, .headers nav button {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  font-weight: 500;
  margin-left: 10px;
  transition: color 0.3s ease, background-color 0.3s ease;
  position: relative;
}

.headers nav a::after, .headers nav button::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fcb41a; /* A bright color for hover effect */
  bottom: -6px;
  left: 0;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.headers nav a:hover::after, .headers nav button:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.login-button {
  background-color: #4CAF50;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #367c39; /* Darker shade on hover */
}


.logo-container {
  display: flex;
  align-items: center;
  margin-left: -150px;
}

.header-logo {
  width: 100px; /* Adjusted size */
  height: auto;
}

.logo-text {
  color: white; /* Adjust color as needed */
  font-size: 1.5rem; /* Adjust font size as needed */
  margin-left: -15px; /* Space between logo and text */
}

@media (max-width: 768px) {
  .header-content {
    flex-direction: column;
    text-align: center;
  }

  .headers nav a, .headers nav button {
    padding: 0.5rem 0;
    width: 100%;
    text-align: center;
  }

  .header-logo {
    margin-bottom: 10px;
  }
}
