body, html {
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

.headers {
  background: rgba(26, 42, 108, 0.85);
  color: white;
  padding: 10px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header-content {
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headers h1 {
  font-size: 1.75rem;
  margin: 0;
  font-weight: 600;
}

.headers nav {
  display: flex;
  align-items: center;
}

.headers nav a, .headers nav button {
  color: white;
  text-decoration: none;
  padding: 0.75rem 1rem;
  font-weight: 500;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 4px;
}

.headers nav a:hover, .headers nav button:hover {
  background-color: #f8f9fa;
  color: #102a43;
}

.login-button {
  background-color: #4CAF50; /* Slightly different green color */
  border: none;
  cursor: pointer;
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
  .header-content {
    flex-direction: column;
  }

  .headers h1 {
    margin-bottom: 0.5rem;
  }

  .headers nav a, .headers nav button {
    padding: 0.5rem 0; /* Adjust padding for vertical layout */
    width: 100%; /* Full width for a cleaner look */
    text-align: center;
  }
}
/* Reduce top and bottom margins for the image */
.llogo {
  width: 150px; /* Adjust the size as needed */
  height: auto;
  margin-top: 5px; /* Reduce top margin */
  margin-bottom: 5px; /* Reduce bottom margin */
  margin-right: 20px; /* Add margin to separate logo from navigation */

}