body, html {
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

.headerr {
  background: #1a6c67; /* Dark blue for a professional look */
  color: white;
  padding: 10px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}



.header-content {
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerr h1 {
  font-size: 1.75rem;
  margin: 0;
  font-weight: 600;
}

.headerr nav {
  display: flex;
  align-items: center;
}

.headerr nav a, .headerr nav button {
  color: white;
  text-decoration: none;
  padding: 0.75rem 1rem;
  font-weight: 500;
  background: none;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.headerr nav a:hover, .headerr nav button:hover {
  background-color: #f8f9fa; /* Slightly lighter blue for hover effect */
  color: #102a43;
}

@media (max-width: 768px) {
  .header-content {
    flex-direction: column;
  }

  .headerr h1 {
    margin-bottom: 0.5rem;
  }

  .headerr nav a, .headerrr nav button {
    padding: 0.5rem 0;
    width: 100%;
    text-align: center;
  }
}
