.welcome-container {
  text-align: center;
  padding: 50px;
  margin-top: 100px;
}

.login-button {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.login-button:hover {
  background-color: #0056b3;
}

/* Responsive design */
@media (max-width: 600px) {
  .welcome-container {
    margin-top: 50px;
    padding: 20px;
  }

  .login-button {
    padding: 8px 15px;
  }
  .client-settings-page {
    padding: 20px;
    margin: 20px;
  }

  .client-settings-page form {
    gap: 15px;
  }

  .client-settings-page button {
    padding: 8px 15px;
  }
}

.user-dashboard {
  text-align: center;
  padding: 50px;
  margin-top: 50px;
  background-color: #f8f9fa; /* Light background color */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Subtle box shadow */
}

.user-dashboard h1 {
  margin: 0;
  color: #007bff; /* Primary color for emphasis */
}

.user-dashboard p {
  color: #333; /* Standard text color */
}

/* Styles for Settings Page */
.client-settings-page {
  text-align: center;
  padding: 50px;
  margin: 50px auto;
  max-width: 600px;
  background-color: #fff; /* White background */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle box shadow */
}

.client-settings-page h2 {
  color: #007bff; /* Primary color for headings */
}

.client-settings-page form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.client-settings-page label {
  margin-bottom: 5px;
}

.client-settings-page input {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.client-settings-page button {
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.client-settings-page button:hover {
  background-color: #218838;
}

.client-settings-page span {
  display: block;
  margin-top: 10px;
  font-size: 0.9em;
  color: #666;
}