/* ClientHomePage Section Styles */
.client-homepage section {
    margin-top: 80px;
    margin-bottom: 80px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .client-homepage h2 {
    color: #007bff;
  }
  
  .client-homepage p {
    color: #333;
  }
  
  /* Dashboard styles */
  .user-dashboard {
    background-color: #f8f9fa; /* Light background */
    border-radius: 10px;
    padding: 20px;
    text-align: center;
  }
  
  .user-dashboard h1 {
    color: #007bff;
    margin-bottom: 10px;
  }
  
  .user-dashboard .rating {
    color: #ffdd00; /* Gold color for rating */
    margin-bottom: 20px;
  }
  
  .user-dashboard .dashboard-action {
    margin-top: 20px;
  }
  
  .dashboard-action button, .show_more__btn {
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
  }

  
  .dashboard-action button:hover {
    background-color: #218838;
  }
  
  .show_more__btn {
    background: rgba(34, 153, 84, 0.85);
    width: 15%;
    border-radius: 5rem;
    margin: auto auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    font-weight: bold;
  }

  .show_more__btn:hover {
    background: #007bff;
    
  }

  .show_more__btn span:nth-child(2) {
    font-size: 1.2em;
  }


  .show_more__btn span:nth-child(1):hover {
    text-decoration: underline;
    text-underline-offset: 5px;
  }


  /* Service list styles */
  .services-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-bottom: 1rem;
  }
  
  /* Individual service item styles */
  .service-item {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: left;
    width: 300px;
    margin-bottom: 20px;
  }
  
  .service-item h3 {
    color: #333;
    margin-bottom: 10px;
  }
  
  .service-item p {
    color: #666;
    margin-bottom: 10px;
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .services-list {
      flex-direction: column;
      align-items: center;
    }
  
    .service-item {
      width: auto;
    }
  }
  