/* Footer Styles */
.footerr {
  position: fixed; /* Position the footer fixed at the bottom */
  left: 0;
  bottom: 0;
  width: 100%; /* Full width of the viewport */
  background: #1a6c67; /* Dark blue for a professional look */
  color: white; /* White text for readability */
  text-align: center; /* Center align text */
  padding: 20px 0; /* Padding for top and bottom */
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1); /* Shadow for a lifted effect */
  font-family: 'Poppins', sans-serif; /* Poppins font for a modern look */
}

.footer-content {
  max-width: 1200px; /* Maximum width for content */
  margin: 0 auto; /* Center content */
}

.footerr p {
  margin: 0; /* Remove default margin */
  line-height: 1.5; /* Line height for better readability */
  font-size: 1rem; /* Font size for legibility */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25); /* Text shadow for contrast on gradient */
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
  .footerr {
    padding: 15px 0; /* Adjust padding for smaller screens */
  }

  .footerr p {
    font-size: 0.875rem; /* Smaller font size for mobile devices */
  }
}
