body,
html {
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #f8f9fa;
  /* Light Grey background */
  color: #102a43;
  /* Deep Navy Blue for text */
}

/* Hero Section */
.hero-section {
  color: #102a43;
  /* Deep Navy Blue for text */
  background-color: #f8f9fa;
  /* Light Grey background */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 150px 100px;
  text-align: center;
}

/* Common Section Styling */
.section {
  padding: 50px 0;
  text-align: center;
  margin-top: 50px;
  /* Added top margin */
  margin-bottom: 50px;
  /* Added bottom margin */
  border-radius: 10px;
  background-color: #ffffff;
  /* Crisp White for sections */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

/* About Section */
.about-section,
.vision-section,
.mission-section {
  color: #102a43;
  /* Deep Navy Blue for text */
  background-color: transparent;
  /* Transparent background */
  display: flex;
  /* Enable Flexbox */
  flex-direction: column;
  /* Stack children vertically */
  align-items: center;
  /* Center-align items horizontally */
  justify-content: center;
  /* Center-align items vertically */
  padding: 50px 0;
  /* Padding top and bottom */
  text-align: center;
  /* Ensure text is centered */
}

/* Services Section Container */
.services-container {
  background-color: #fafafa;
  /* Crisp White background */
  padding: 100px 35px;
  /* Padding around the entire container */
  text-align: center;
  /* Center-align the content */
}

/* Services Section Title */
.services-title {
  font-size: 24px;
  color: #102a43;
  /* Deep Navy Blue */
  margin-bottom: 10px;
  /* Space below the title */
}

/* Services Cards Wrapper */
.services-section {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  /* Wrap items for responsiveness */
  margin-top: 20px;
  /* Space after development buttons */
}

.service {
  width: 45%;
  padding: 20px;
  margin: 10px 0;
  /* Margin top and bottom */
  border-radius: 8px;
  background-color: #ffffff;
  /* Slightly off-white */
}

/* Development Navigation Buttons */
.dev-nav-button {
  background-color: #d32f2f;
  /* Vibrant red */
  color: white;
  /* White text for contrast */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin: 300px 30px;
  /* Spacing above and below the button */
}

.dev-nav-button:hover {
  background-color: blue;
  /* Darker on hover */
}

/* Responsive Design */
@media (max-width: 800px) {
  .services-section {
    flex-direction: column;
    /* Stack services cards vertically */
  }

  .service {
    width: 90%;
    /* Full width for smaller screens */
    margin: 10px auto;
    /* Center service cards */
  }
}

/* About Section */
.contact-section {
  color: #102a43;
  /* Deep Navy Blue for text */
  background-color: transparent;
  /* Transparent background */
  display: flex;
  /* Enable Flexbox */
  flex-direction: column;
  /* Stack children vertically */
  align-items: center;
  /* Center-align items horizontally */
  justify-content: center;
  /* Center-align items vertically */
  padding: 100px 0;
  /* Padding top and bottom */
  text-align: center;
  /* Ensure text is centered */
}

/* Buttons and Links */
.login-button,
.signup-button,
.contact-button {
  padding: 12px 25px;
  border-radius: 30px;
  text-decoration: none;
  transition:
    transform 0.2s,
    box-shadow 0.3s;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  margin: 10px;
}

.login-button {
  background-color: #68b2a0;
  /* Muted Teal */
  color: #ffffff;
  /* White text */
  border: none;
}

.signup-button,
.contact-button {
  background-color: #28a745;
  /* Light Grey matching the body */
  color: #ffffff;
  /* White text */
}

.login-button:hover,
.signup-button:hover,
.contact-button:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

@media (max-width: 600px) {
  .hero-section {
    padding: 50px 0;
  }

  .signup-button,
  .login-button,
  .contact-button {
    padding: 8px 15px;
    font-size: 14px;
  }

  .service {
    width: 100%;
    margin-bottom: 20px;
  }

  .services-section {
    flex-direction: column;
  }

  .login-modal-content {
    width: 90%;
    /* Adjust for smaller screens */
    margin-right: 5%;
    /* Adjust margin for smaller screens */
  }
}

.login-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  /* Semi-transparent background */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
  /* Ensure it's on top */
}

.modal-content {
  background: #ffffff;
  /* Clean white background for a minimalistic look */
  color: #333;
  /* Dark text color for readability */
  padding: 40px;
  /* Generous padding for comfort */
  border-radius: 15px;
  /* Smooth, rounded corners */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  /* Subtle shadow for depth */
  width: 50%;
  /* Appropriate width for the modal */
  max-width: 500px;
  /* Limiting maximum width for better layout */
  margin: auto;
  /* Centering the modal */
  display: flex;
  flex-direction: column;
  /* Vertical stacking for contents */
  align-items: center;
  /* Center-aligning items */
  justify-content: center;
  /* Center content vertically */
  text-align: center;
  /* Center-align text */
}

.close-button {
  align-self: flex-end;
  /* Align the close button to the right */
  cursor: pointer;
  font-size: 1.5rem;
  color: #333;
  /* Matching the text color */
}

.modal-content h2 {
  margin-top: 0;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  color: #073b4c;
  /* Using the theme color for labels */
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.button-res {
  display: flex;
  flex-direction: column;
  color: #f44a4a;
}