body,
html {
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* Light Grey background */
  color: #ffffff; /* White color for strong contrast */
  /* Deep Navy Blue for text */
    /* Animated Background */
    background: linear-gradient(270deg, #1a2a6c, #b21f1f, #fcb41a);
    background-size: 600% 600%;
    animation: AnimationName 16s ease infinite;
}

/* Hero Section */
.hero-section {
  color: #f8f9fa;
  background-color: #102a43;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  margin: 0;
  padding: 0;

  /* Animated Background */
  background: linear-gradient(270deg, #1a2a6c, #b21f1f, #fcb41a);
  background-size: 600% 600%;
  animation: AnimationName 16s ease infinite;
}

/* Animation Keyframes */
@keyframes AnimationName { 
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}

.hero-content .hero-main-text {
  color: #ffffff; /* White color for strong contrast */
  /* font-family: 'ElegantFont', serif; Replace 'ElegantFont' with the actual font name */
  font-size: 1.5rem; /* Larger font size for main text */
  /* padding-bottom: 10px; Space between this text and the subtext */
  font-weight: 500; /* Bold font weight */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Text shadow for depth */
}

/* Hero Content Styling */
.hero-content .hero-subtext {
  color: #ffffff; /* White color for strong contrast */
  /* font-family: 'SecondaryFont', sans-serif; Replace 'SecondaryFont' with the actual font name */
  font-size: 1.25rem; /* Font size for subtext */
  /* padding-bottom: 20px; Space between this text and the next paragraph */
  font-weight: 400; /* Bold font weight */
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8); /* Text shadow for depth */
}

.hero-content p {
  color: #ffffff; /* Keep it white for strong contrast */
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8); /* Add shadow for depth */
}

/* Additional adjustments for responsiveness and centering */
@media (max-width: 600px) {
  .hero-section {
    justify-content: center;
    padding: 20px;
  }
}

/* Common Section Styling */
.section {
  padding: 50px 0;
  text-align: center;
  margin-top: 50px;
  /* Added top margin */
  margin-bottom: 50px; 
  /* Added bottom margin */
  border-radius: 10px;
  /* Crisp White for sections */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

/* About Section */
.about-section,
.vision-section,
.mission-section {
  color: #000000; /* White color for strong contrast */
  /* Deep Navy Blue for text */
  background-color: transparent;
  /* Transparent background */
  display: flex;
  /* Enable Flexbox */
  flex-direction: column;
  /* Stack children vertically */
  align-items: center;
  /* Center-align items horizontally */
  justify-content: center;
  /* Center-align items vertically */
  padding: 50px 0;
  /* Padding top and bottom */
  text-align: center;
  /* Ensure text is centered */
}

/* Services Section Container */
.services-container {
  /* Crisp White background */
  padding: 100px 35px;
  /* Padding around the entire container */
  text-align: center;
  /* Center-align the content */
}

/* Services Section Title */
.services-title {
  font-size: 24px;
  color: #000000;
  /* Deep Navy Blue */
  margin-bottom: 10px;
  /* Space below the title */
}

/* Services Cards Wrapper */
.services-section {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  /* Wrap items for responsiveness */
  margin-top: 20px;
  /* Space after development buttons */
}

.service {
  width: 45%;
  padding: 20px;
  margin: 10px 0;
  /* Margin top and bottom */
  border-radius: 8px;
  background-color: #caca60;
  /* Slightly off-white */
}


/* Responsive Design */
@media (max-width: 800px) {
  .services-section {
    flex-direction: column;
    /* Stack services cards vertically */
  }

  .service {
    width: 90%;
    /* Full width for smaller screens */
    margin: 10px auto;
    /* Center service cards */
  }
}

/* About Section */
.contact-section {
  color: #000000; /* White color for strong contrast */
  /* Deep Navy Blue for text */
  background-color: transparent;
  /* Transparent background */
  display: flex;
  /* Enable Flexbox */
  flex-direction: column;
  /* Stack children vertically */
  align-items: center;
  /* Center-align items horizontally */
  justify-content: center;
  /* Center-align items vertically */
  padding: 100px 0;
  /* Padding top and bottom */
  text-align: center;
  /* Ensure text is centered */
}

/* Buttons and Links */
.login-button,
.signup-button,
.contact-button {
  padding: 12px 25px;
  border-radius: 30px;
  text-decoration: none;
  transition:
    transform 0.2s,
    box-shadow 0.3s;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  margin: 10px;
}

.login-button {
  background-color: #68b2a0;
  /* Muted Teal */
  color: #ffffff;
  /* White text */
  border: none;
}

.signup-button,
.contact-button {
  background-color: #68b2a0;
  width: 200px;
  /* Light Grey matching the body */
  color: #ffffff;
  border: none;
  /* White text */
}

.login-button:hover,
.signup-button:hover,
.contact-button:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

@media (max-width: 600px) {
  .hero-section {
    padding: 50px 0;
  }

  .signup-button,
  .login-button,
  .contact-button {
    padding: 8px 15px;
    font-size: 20px;
  }
   input[type=radio]#Red { 
    accent-color: #FF0000; 
  } 
   .radiobutt{
   color: #68b2a0;
   }

  .service {
    width: 100%;
    margin-bottom: 20px;
  }

  .services-section {
    flex-direction: column;
  }

  .login-modal-content {
    width: 90%;
    background: #caca60 ;
    /* Adjust for smaller screens */
    margin-right: 5%;
    /* Adjust margin for smaller screens */
  }
}

.login-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);/* Semi-transparent background */
  /* Semi-transparent background */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
  /* Ensure it's on top */
}

.modal-content {
  background: #caca60 ;
  /* Clean white background for a minimalistic look */
  color: #333;
  /* Dark text color for readability */
  padding: 40px;
  /* Generous padding for comfort */
  border-radius: 20px;
  /* Smooth, rounded corners */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  /* Subtle shadow for depth */
  width: 50%;
  /* Appropriate width for the modal */
  max-width: 500px;
  /* Limiting maximum width for better layout */
  margin: auto;
 
  /* Centering the modal */
  display: flex;
  flex-direction: column;
  /* Vertical stacking for contents */
  align-items: center;
  /* Center-aligning items */
  justify-content: center;
  /* Center content vertically */
  /* text-align: center; */
  /* Center-align text */
}

.close-button {
  align-self: flex-end;
  /* Align the close button to the right */
  cursor: pointer;
  font-size: 1.5rem;
  color: #333;
  /* Matching the text color */
}

.modal-content h2 {
  margin-top: 0;
}
.name-login {
  font-size: 28px;
  font-weight: 600;
}
.input-group {
  margin-left: -8px;
  margin-bottom: 10px;
}

.input-group label {
  display: block;
  margin-bottom: 10px;
  color: #073b4c;
  /* Using the theme color for labels */
}

.input-group input {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.button-res {
  display: flex;
  flex-direction: column;
  color: #f44a4a;
}

/* link below the button to navigate between login and signup */

.linktopage{
  
  
  color:#102a43;
}
/* Additional styles for RegisterModal */
.login-form{
  width: 60%;
  padding-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.register-modal {
  /* Styles for the register modal */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Ensure it's on top */
}

.register-modal-content {
  background: #caca60 ;
  /* Clean white background for a minimalistic look */
  color: #333;
  /* Dark text color for readability */
  padding: 40px;
  /* Generous padding for comfort */
  border-radius: 15px;
  /* Smooth, rounded corners */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  /* Subtle shadow for depth */
  width: 50%;
  /* Appropriate width for the modal */
  max-width: 500px;
  /* Limiting maximum width for better layout */
  margin: auto;
 
  /* Centering the modal */
  display: flex;
  flex-direction: column;
  /* Vertical stacking for contents */
  align-items: center;
  /* Center-aligning items */
  justify-content: center;
  /* Center content vertically */
  /* text-align: center; */
  /* Center-align text */
}

.register-modal-content h2 {
  margin-bottom: 20px;
}

.register-form {
  width: 60%;
  padding-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-group {
  width: 100%;
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.input-group input[type="text"],
.input-group input[type="password"],
.input-group input[type="email"] {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

/* Styles for role selection radio buttons */
.role-selection {
  display: flex;
  justify-content: center;
  gap: 20px; /* Spacing between radio buttons */
}

.role-selection label {
  margin-left: 5px;
}

.register-button {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: rgb(65, 223, 157); /* Bootstrap primary color */
  color: white;
  border: none;
  cursor: pointer;
}

.register-button:hover {
  background-color: #0056b3; /* Darker shade on hover */
}

.close-button {
  align-self: flex-end;
  cursor: pointer;
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 10px;
}

/* Error message styling */
.error-message {
  color: #d9534f; /* Bootstrap danger color */
  margin-top: 10px;
}

/* Adjust styles for smaller screens */
@media (max-width: 600px) {
  .register-modal-content {
    width: 90%;
  }
}

/* headding adjustment of login page */

/* Add this CSS for the logo */
.logo {
  width: 700px; /* Adjust the size as needed */
  height: auto;
  margin-bottom: 10px;
}

/* Existing hero-section and global styles remain unchanged */

/* New Overlay Style */
.content-overlay {
  position: relative;
  z-index: 10;
    /* Animated Background */
    background: #cece9b ;
    background-size: 600% 600%;
    animation: AnimationName 16s ease infinite;
}

/* Apply a blur to the background after scrolling past the hero section */
.main-content {
  backdrop-filter: blur(5px);
  transition: backdrop-filter 0.3s ease-in-out;
}

/* Reset the blur when at the top to maintain the vibrant hero background */
.hero-section:hover ~ .main-content,
.main-content:hover {
  backdrop-filter: none;
}

/* Adjustments for sections to integrate with the new overlay */
.section, .about-section, .vision-section, .mission-section, .services-container, .contact-section {
  position: relative;
  background-color: transparent; /* Maintain transparency to allow the overlay to blend */
  padding-top: 50px; /* Add top padding to compensate for the overlay's fade-out */
  margin-top: -50px; /* Pull the section up to blend with the hero section */
  z-index: 20; /* Ensure the text appears above the overlay */
}

/* Ensure the footer also appears above the overlay */
footer {
  position: relative;
  z-index: 20;
}

/* Apply smooth transitions for all hover effects */
a:hover, button:hover {
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}


.tag-card {
  display: inline-block;
  background: #e1ecf4;
  color: #0366d6;
  border-radius: 3px;
  padding: 5px 10px;
  margin: 5px;
  font-size: 14px;
}

.delete-tag {  
    margin-left: 10px;
    cursor: pointer;
    color: #ff6b6b;
 }